<style>
  #resume {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.2;
    font-size: 1.2rem;
    background-color: white;
    padding: 30px;
  }

  .resume-work-header {
    display: flex;
    justify-content: space-between;
  }

  .resume-section {
    border-bottom: 2px solid;
  }

  .resume-title {
    text-align: center;
    font-weight: 200;
    margin: 0;
  }

  .mt0 {
    margin-top: 0;
  }

  .mt5 {
    margin-top: 5px;
  }

  .mt10 {
    margin-top: 10px;
  }
</style>

<br>
<div id="resume">
  <% var { basics, work, education, projects, skills } = site.data.resume %>
  <% var { name, email, phone, website, location, profiles } = basics %>
  <h2 class='resume-title'><%= name %></h2>
  <p class='resume-title mt5'>Cell: <%= phone %> 路 <%= email %> 路 <%= location.city %>, <%= location.region %>%> 路 US
    Citizen</p>
  <p class='resume-title mt5'>
    <% profiles.map((profile, i) => { %>
    <% if (i !== 0) { %>
    <%= ' 路 ' %>
    <% } %>
    <%= profile.network %>: <a href="<%= profile.url %>"><%= profile.username%></a>
    <% }) %>
  </p>

  <h2 class="resume-section">Education</h2>
  <% for (var edu of education) { %>
  <div class="resume-work-header mt10">
    <strong><%= edu.institution %></strong>
    <span><%= edu.location %></span>
  </div>
  <div class="resume-work-header">
    <span><%= edu.studyType %> <%= edu.area %></span>
    <span><%= edu.startDate %> - <%= edu.endDate %></span>
  </div>
  <% } %>

  <h2 class="resume-section">Work Experience</h2>
  <% for (var w of work) { %>
  <div class="resume-work-header">
    <strong><%= w.company %></strong>
    <span><%= w.location %></span>
  </div>
  <div class="resume-work-header">
    <span><%= w.position %></span>
    <span><%= w.startDate %> - <%= w.endDate %></span>
  </div>
  <ul class="mt5">
    <% for (var bullet of w.highlights) { %>
    <li><%= bullet %></li>
    <% } %>
  </ul>
  <% } %>

  <h2 class="resume-section">Projects</h2>
  <% for (var p of projects) { %>
  <div>
    <strong><%= p.name %></strong>
    <i class="sub"><%= p.keywords.join(', ') %></i>
    <p class="mt0"><%= p.description %></p>
  </div>
  <% } %>

  <h2 class="resume-section">Skills</h2>
  <% for (var skill of skills) { %>
  <div class="mt5">
    <strong><%= skill.name %>:</strong>
    <span><%= skill.keywords.join(', ') %></span>
  </div>
  <% } %>

</div>
